DeliveryCR_Project/.vs/
DeliveryCR_Project/packages/

DeliveryCR_Project/Testing_Project/SQLTransact.cs

DeliveryCR_Project/Testing_Project/obj/Debug/DeliveryCR_Project.csprojAssemblyReference.cache
